@page "/jugadores"

@using GolfV10.Client.Servicios.IFaceServ;
@using GolfV10.Shared;

<h3>Listado de Jugadores</h3>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="35"
                AllowPaging="true" AllowSorting="true"
                Data="LosPlayers" TItem="G120Player" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="G120Player" Property="Id" Filterable="false" Title="Id"
                              Frozen="true" Width="40px" TextAlign="TextAlign.Center" />
        
        <RadzenDataGridColumn TItem="G120Player" Property="Apodo" Title="Nombre" Width="250px">
            <Template Context="data">
                @data.Nombre @data.Paterno @data.Materno
                @if (!string.IsNullOrEmpty(data.Apodo)) {<label> &nbsp; "@data.Apodo"</label>}
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="G120Player" Property="Ghin" Title="Ghin" Width="80px" />
        
        <RadzenDataGridColumn TItem="G120Player" Title="Estado" Width="50px" Sortable="false" Filterable="false">
            <Template Context="data">
                @if(data.Estado == 1) {<label>Confirmado</label>} 
                else { <label>Sin Confirmar</label>}
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="G120Player" Title="Herramienta" Width="50px" Filterable="false">
            <Template Context="dato">
                @if (dato.Id > 4)
                {
                    <RadzenLink Icon="edit" Path=@($"/jugadoresedit/{dato.Id}") /> 
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


@code {
    [Inject]
    protected IG120PlayerServ playerIFace { get; set; }
    protected IEnumerable<G120Player> LosPlayers { get; set; }

    protected async override Task OnInitializedAsync()
    {
        LosPlayers = (await playerIFace.GetPlayers()).ToList(); 
    }
}
